<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target xsi:type="File" name="file"
            fileName="/data/data/Business.FormsApp/logs/Business.FormsApp.log"
            archiveFileName="/data/data/Business.FormsApp/logs/Business.FormsApp.{##}.log"
            archiveNumbering="Rolling"
            archiveAboveSize="10485760"
            maxArchiveFiles="5"
            encoding="UTF-8"
            layout="${longdate} ${pad:padding=-5:inner=${level:uppercase=true}} [${threadid}] - ${message}${exception:format=tostring}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="file" />
  </rules>

</nlog>